


<div class="log-in mb-6">
    <div class="bg-image-box">
    
           <div class="container">  
             <div class="row">   
  
          <div class=" text col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img [src]="logo" class="logo">
            <p class="text-value"> Schedule your appointment with expert doctors </p>
          </div>

  <div class="myform col-lg-6 col-md-6 col-sm-12 col-xs-12" >
    <form class="form-size"  [formGroup]="createPasswordForm" (ngSubmit)="onFormSubmit(createPasswordForm)" >

      <!-- Email input -->
      <div class="form-outline">
        <label class="form-label text-label-size" for="emailId">Email</label>

        <input
          type="email"
          id="emailId"
          class="form-control form-input-height"
          name="emailId"
          emailId="emailId"
          formControlName="emailId"
        />
      </div>

         <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
          <div class="text-danger text-label-size" *ngIf="emailId.errors?.['required']">
            Email is required.
          </div>
          <div class="text-danger text-label-size" *ngIf="emailId.errors?.['email']">
            Please enter a valid email address.
          </div>
        </div>  

      <!-- DOB input -->
      <div class="form-outline mt-4">
        <label class="form-label text-label-size" for=" dateOfBirth">DOB</label>

        <input
          type="date"
          id=" dateOfBirth"
          class="form-control form-input-height"
          name=" dateOfBirth"
          dateOfBirth=" dateOfBirth"
          formControlName="dateOfBirth"
        />
      </div>
      <div class="text-danger text-label-size" *ngIf=" dateOfBirth.invalid &&  dateOfBirth.dirty">
        <span *ngIf=" dateOfBirth.errors!['required']">Date of Birth is required</span>
         </div>

      <!-- Password input -->
      <div class="form-outline mt-4">
        <label class="form-label text-label-size" for="passcode">Password</label>

        <input
          type="password"
          id="passcode"
          class="form-control form-input-height"
          name="passcode"
          passcode="passcode"
          formControlName="passcode"
        />
      </div>
      <div class="text-danger text-label-size" *ngIf="passcode.invalid && (passcode.dirty || passcode.touched)">
        <div *ngIf="passcode.errors?.['required']">
          Password is required.
        </div>
        <div class="text-danger text-label-size" *ngIf="passcode.errors?.['minlength']">
          Password must be at least 8 characters long.
        </div>
        <div class="text-danger text-label-size" *ngIf="passcode.errors?.['pattern']">
          Password must contain at least one lowercase<br>letter, one uppercase letter, one digit, and one<br>special character.
        </div>
      </div>

      <!--Confirm Password input -->
      <div class="form-outline mt-4">
        <label class="form-label text-label-size" for="confirmPasswoed">Confirm Password</label>

        <input
          type="password"
          id="confirmPassword"
          class="form-control form-input-height"
          name="confirmPassword"
          confirmPassword="confirmPassword"
          formControlName="confirmPassword"
        />
      </div>
      <div class="text-danger text-label-size" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
         <div *ngIf="confirmPassword.errors?.['required']">Confirm your Password</div> 
         </div>

      <div  class="text-danger text-label-size" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <div *ngIf="createPasswordForm.hasError('mismatch')">Passwords do not match.</div>
        </div>   


     

      <!-- Submit button -->
      <div class="col-12 mt-4">
        <button type="submit" [disabled]="!createPasswordForm.valid" class="btn btn-primary text-label-size form-input-height login-btn btn-block mt-4">
          Reset Password
        </button>
      </div>

      <!-- Register buttons -->
      <div class="text-center mt-4">
        <p class="text-dark text-label-size">Go back to <a [routerLink]="['/login']">log in</a></p>
      </div>
    </form>
  </div>

</div>
</div>



<img [src]="img" alt="vector image" class="image">
</div>
</div>

